# EDA

In [5]:
# 1.Data Exploration and Preprocessing
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

df = pd.read_csv("C:\\Users\\anwes\\OneDrive\\Desktop\\assignment\\EDA2\\EDA2\\adult_with_headers.csv") 
print(df.head())
print(df.info()) 
print(df.describe(include="all"))
print("Missing values:\n", df.isna().sum())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
                 age workclass        fnlwgt education  education_num  \
count   32561.000000     32561  3.256100e+04     32561   32561.000000
unique           NaN         9           NaN        16            NaN
top              NaN   Private           NaN   HS-grad            NaN
freq             NaN     22696           NaN     10501            NaN
mean       38.581647       NaN  1.897784e+05       NaN      10.080679
std        13.640433       NaN  1.055500e+05       NaN       2.572720
min        17.000000       NaN  1.228500e+04       NaN       1.000000
25%        28.000000       NaN  1.178270e+05       NaN       9.000000
50%        37.000000       NaN  1.783560e+05       NaN      10.000000
75%        48.000000       NaN  2.370510e+05       NaN      12.000000
max        90.000000       NaN  1.484705e+06       NaN      16.000000

             marital_status       occupation relationship    race    sex  \
count                 32561            32561        32561   32561  32561
unique                    7               15            6       5      2
top      Married-civ-spouse   Prof-specialty      Husband   White   Male
freq                  14976             4140        13193   27816  21790
mean                    NaN              NaN          NaN     NaN    NaN
std                     NaN              NaN          NaN     NaN    NaN
min                     NaN              NaN          NaN     NaN    NaN
25%                     NaN              NaN          NaN     NaN    NaN
50%                     NaN              NaN          NaN     NaN    NaN
75%                     NaN              NaN          NaN     NaN    NaN
max                     NaN              NaN          NaN     NaN    NaN

        capital_gain  capital_loss  hours_per_week  native_country  income
count   32561.000000  32561.000000    32561.000000           32561   32561
unique           NaN           NaN             NaN              42       2
top              NaN           NaN             NaN   United-States   <=50K
freq             NaN           NaN             NaN           29170   24720
mean     1077.648844     87.303830       40.437456             NaN     NaN
std      7385.292085    402.960219       12.347429             NaN     NaN
min         0.000000      0.000000        1.000000             NaN     NaN
25%         0.000000      0.000000       40.000000             NaN     NaN
50%         0.000000      0.000000       40.000000             NaN     NaN
75%         0.000000      0.000000       45.000000             NaN     NaN
max     99999.000000   4356.000000       99.000000             NaN     NaN
Missing values:
 age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [8]:

num_cols = df.select_dtypes(include=['int64','float64']).columns 
cat_cols = df.select_dtypes(include=['object']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median()) 
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

scaler_std = StandardScaler() 
df_standard_scaled = df.copy()
df_standard_scaled[num_cols] = scaler_std.fit_transform(df[num_cols])

scaler_mm = MinMaxScaler() 
df_minmax_scaled = df.copy()
df_minmax_scaled[num_cols] = scaler_mm.fit_transform(df[num_cols])

print(df_standard_scaled.head()) 
print(df_minmax_scaled.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0      0.148453      -0.21666       -0.035429   United-States   <=50K
1     -0.145920      -0.21666       -2.222153   United-States   <=50K
2     -0.145920      -0.21666       -0.035429   United-States   <=50K
3     -0.145920      -0.21666       -0.035429   United-States   <=50K
4     -0.145920      -0.21666       -0.035429            Cuba   <=50K
        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

In [13]:
# Encoding Techniques

cat_cols = df.select_dtypes(include="object").columns 
df_encoded = df.copy()

for col in cat_cols:
    unique_count = df[col].nunique()

if unique_count < 5:
    dummies = pd.get_dummies(df_encoded[col], prefix=col)
    df_encoded = pd.concat([df_encoded.drop(col, axis=1), dummies], axis=1) 
else:
    df_encoded[col] = df_encoded[col].astype("category").cat.codes 
print(df_encoded.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income_ <=50K  \
0          2174             0              40   United-States           True
1             0             0              13   United-States           True
2             0             0              40   United-States           True
3             0             0              40   United-States           True
4             0             0              40            Cuba           True

   income_ >50K
0         False
1         False
2         False
3         False
4         False

In [14]:
# Feature Engineering

df["capital_net"] = df["capital_gain"] - df["capital_loss"] 
df["hours_per_week_per_age"] = df["hours_per_week"] / (df["age"] + 1e-6)

df["age_group"] = pd.cut(df["age"],
bins=[0, 25, 45, 65, 120],
labels=["young_<=25", "adult_26-45", "mid_46-65", "senior_>65"], include_lowest=True)

df["log_capital_gain"] = np.log1p(df["capital_gain"])

print(df.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income  \
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

   capital_net  hours_per_week_per_age    age_group  log_capital_gain
0         2174                1.025641  adult_26-45          7.684784
1            0                0.260000    mid_46-65          0.000000
2            0                1.052632  adult_26-45          0.000000
3            0                0.754717    mid_46-65          0.000000
4            0                1.428571  adult_26-45          0.000000

In [18]:
!pip install ppscore

Defaulting to user installation because normal site-packages is not writeable
Collecting ppscore
  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pandas<2.0.0,>=1.0.0
  Downloading pandas-1.5.3-cp39-cp39-win_amd64.whl (10.9 MB)
     ---------------------------------------- 10.9/10.9 MB 2.2 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from ppscore) (1.6.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2022.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\anwes\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.17.0)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13167 sha256=74da50447e454b39e497fdc121eabdb0cba8022f5575dc4a3b214a71dfd2c657
  Stored in directory: c:\users\anwes\appdata\local\pip\cache\wheels\d8\2d\fc\c1699298a1241684a460b125835f7871ee8e3ab3afea9b5d6f
Successfully built ppscore
Installing collected packages: pandas, ppscore
  Attempting uninstall: pandas
    Found existing installation: pandas 2.3.1
    Uninstalling pandas-2.3.1:
      Successfully uninstalled pandas-2.3.1

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\anwes\\AppData\\Roaming\\Python\\Python39\\site-packages\\~andas.libs\\msvcp140-1a0962f2a91a74c6d7136a768987a591.dll'
Check the permissions.

In [19]:
#Feature Selection (Isolation Forest + PPS)

from sklearn.ensemble import IsolationForest 
import ppscore as pps

df = df.replace("?", np.nan)

num_cols = df.select_dtypes(include=["int64","float64"]).columns.tolist() 
cat_cols = df.select_dtypes(include=["object"]).columns.tolist()

for c in num_cols:
    df[c] = df[c].fillna(df[c].median())

for c in cat_cols:
    df[c] = df[c].fillna(df[c].mode()[0])

X_num = (df[num_cols] - df[num_cols].mean()) / df[num_cols].std(ddof=0)

iso = IsolationForest(n_estimators=200, contamination=0.01, random_state=42) 
iso.fit(X_num)

df["iforest_pred"] = iso.predict(X_num) 
df_no_outliers = df[df["iforest_pred"] == 1]

pps_raw = pps.matrix(df)
pps_matrix = pps_raw.pivot(index="x", columns="y", values="ppscore").fillna(0)

corr_matrix = df[num_cols].corr() 
print(pps_matrix) 
print(corr_matrix)

ModuleNotFoundError: No module named 'ppscore'